---

# See https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    commit-message:
      prefix: "chore:"
    open-pull-requests-limit: 5
    rebase-strategy: disabled
    schedule:
      interval: "weekly"
      day: "monday"
      time: "08:00"
      timezone: "UTC"

  - package-ecosystem: "gomod"
    directory: "/"
    commit-message:
      prefix: "chore:"
    open-pull-requests-limit: 5
    rebase-strategy: disabled
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
    groups:
      k8s.io:
        patterns:
          - "k8s.io/api"
          - "k8s.io/apimachinery"
          - "k8s.io/client-go"
          - "k8s.io/cloud-provider"
          - "k8s.io/mount-utils"

  - package-ecosystem: "docker"
    directory: "/"
    commit-message:
      prefix: "chore:"
    open-pull-requests-limit: 5
    rebase-strategy: disabled
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "UTC"
