name: Build check

on:
  pull_request:
    branches:
      - main
    paths:
      - 'go.mod'
      - 'go.sum'
      - 'cmd/**'
      - 'pkg/**'
      - 'Dockerfile'

jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up go
        timeout-minutes: 5
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53.3
          args: --config=.golangci.yml
      - name: Unit
        run: make unit
      - name: Build
        timeout-minutes: 10
        run: make build
      - name: Check node tools
        timeout-minutes: 5
        run: make image-tools-check
        env:
          PLATFORM: linux/amd64
